.App {
  text-align: center;
  padding:2%
}
.ButtonsContainer { 
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
div[data-lastpass-icon-root] {
  display: none;
}
.DisplayServices {
  padding: 20px;
  font-size: 18px;
  margin: auto;
}
.ServicesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  justify-content: center;
}
#svg{
  right: 18px;
  width: 20px;
  top: 10px;
  position: absolute;
}
.ServiceTitle {
  width: 100%
}
.ServiceItem {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  color:#a48d53;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 1px;
}
.ServiceDuration {
  text-align: left;
  padding: 10px;
}
.ServiceDiv {
  background-color: white;
  box-shadow: 0 2px 9px 0 rgba(206, 206, 206, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition-duration: .4s;
  flex-basis: 30%;
  max-width: 30%;
  width: 30%;
}
.ServiceDiv:hover {
  background-color: white;
    cursor: pointer;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
    transition-duration: .4s;
    img {
      transform: scale(1.1);
    }
}
.ServiceTimesContainer {
  display: flex;
  gap: 20px;
  margin: auto;
  flex-direction: column;
  justify-content: flex-start;
}
.ServiceColor {
  color: #a48d53;
  font-weight: 700;
}
.SlotContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;
}
.LabelContainer {
  display: flex;
  width: 385px;
}
.DayLabel {
  font-size: 20px;
  font-weight: 300;
}
.DayColor {
  color: #a48d53;
}
.SelectionContainer {
  display: flex;
  flex: 1;
  position: relative;
  border-bottom: 1px solid #9b9b9b;
}
.SelectionTimes {
  margin: auto;
  font-size: 20px;
  padding-right: 50px;
}
.ServiceTimeButton {
  padding: 20px;
  font-size: 18px;
}
.DeleteTimeSlotBasket {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.ClientFormWrapper {
  display: flex;
  gap: 5px;
  margin: auto;
  flex-direction: column;
  justify-content: flex-start;
}
.ClientFormContainer {
  display: flex;
  flex-direction: column;
  gap: 10px
}
.ClientInputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.ClientInput {
  padding: 10px;
  font-size: 16px;
  width: 300px
}
.CheckoutVerifyContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.CheckoutVerifyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}
.ConfirmContainer {
  display: flex;
  flex-direction: column;
}
.ConfirmTitle {
  color: green;
  text-align: center
}
.ConfirmEmail {
  color: blue;
}
.TextCenter {
  text-align: center;
}
.Btn {
  cursor: pointer;
  margin: 15px auto;
  background: transparent;
  border: #a48d53 solid 2px;
  border-radius: 0.1875rem;
  color: #a48d53;
  display: inline-block;
  font-family: Primary, Arial;
  font-size: 1rem;
  font-weight: 700;
  min-height: 3.5rem;
  letter-spacing: 2px;
  line-height: 3rem;
  padding: 0px 2.25rem;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  transition: all .3s ease-out;
}
.H1 {
  color: #a48d53;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
button:hover {
  background: #a48d53;
    border: #a48d53 solid 2px;
    color: #ffffff;
    padding: 0px 2.25rem;
}
button:disabled {
  cursor: not-allowed;
  background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}
h4 {
  font-size: 1.375rem;
  font-weight: 200;
  line-height: 1.375rem;
  letter-spacing: 1px;
  margin-bottom: 0.6875rem;
}
select {
  appearance: none;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  display: block;
  font-size: 16px;
  font-weight: 100;
  padding: 10px 10px 10px 5px;
  resize: vertical;
  width: 100%;
}
select:focus-visible {
  border: none
}
select:focus {
  border: none
}

option:disabled {
  color:  rgb(170, 170, 170)
}
input {
  appearance: none;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #9b9b9b;
  border-radius: 0;
  display: block;
  font-family: Primary, Arial;
  font-size: 16px;
  font-weight: 100;
  padding: 10px 10px 10px 5px;
  resize: vertical;
  width: 100%;
}